body{
    background-color: rgba(0, 255, 170, 0.226);
    margin: 25px;
}
h4, h2, h3{
    color: rgb(39, 115, 202);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.emphasized { 
    font-style: italic; 
}
p::first-letter {
    font-size: 150%;
  }

.hyperlink-underline{
    text-decoration: none;
    color: rgb(255, 0, 0);
}

div>ol>li>span{
    color: rgba(0, 0, 255, 0.842);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

.highlight{
    color: rgb(68, 0, 255);
    font-weight: bold;
}

