.tableHead{
    background-color: green;
    color: white;
}
body{
    margin-left: 5%;
}

.hideRed{
    display: none;
    color: red;
}

.hide{
    display: none;
}

td[value="amazon"]{
    color:green ;
}

td{
    border-color: rgb(201, 227, 250);
}

td:nth-child(3){
    background-color: rgba(0, 0, 255, 0.362);
}